
body {
    font-family: Georgia, serif;
    background-color: #fff0f0;
    margin: 40px;
    color: #003366;
    text-align: center;
    line-height: 2;
    font-size: 28px;
}
nav {
    margin-bottom: 20px;
}
nav a {
    margin: 0 10px;
    font-weight: bold;
    color: #ff6600;
    text-decoration: none;
}
.highlight-orange {
    color: #ff6600;
    font-weight: bold;
}
.highlight-blue {
    color: #003366;
}
h1, h2 {
    font-weight: bold;
}
